<nav class="navbar topnavbar" style="background-color: #e94196;">
    <div class="row align-items-center">
        <div class="col">
            <a class="navbar-brand" hrev="#">
                <img src="./assets/chao.png" style="height : 60px">
            </a>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="onclickcadastro()"> Cadastro </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary"> Outros </button>
        </div>
    </div>
</nav>